@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
 
    --primary: 24 100% 50%;
    --primary-foreground: 60 9.1% 97.8%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.font-roca {
  font-family: var(--font-roca-one);
}

